<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hm.pedemap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name="edu.hm.pedemap.BApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="edu.hm.pedemap.service.WifiP2PService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="edu.hm.pedemap.receiver.NetworkLocationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="edu.hm.pedemap.service.LocationBroadcastReceiverService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="edu.hm.pedemap.receiver.ActivityReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="edu.hm.pedemap.service.ActivityRecognitionService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="edu.hm.pedemap.receiver.BatteryChangedReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="edu.hm.pedemap.receiver.LocationUpdateReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="edu.hm.pedemap.service.LocationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="edu.hm.pedemap.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>